---
import truncate from "lodash.truncate"
import FrontPageLayout from "@layouts/FrontPageLayout.astro";
import AppLink from "@components/AppLink"
import { config } from "@config"

const title = "Home"
const latestPosts = (await Astro.glob('./posts/*.md')).reverse().slice(0, 3)
const truncateOptions = {
  length: 150,
  separator: " ",
};
---

<FrontPageLayout {title}>
  <div class="mb-10">
    <h1 class="text-4xl md:text-6xl">Latest Posts</h1>
  </div>
  {latestPosts.map(post => (
    <div class="space-y-4 mb-6">
      <h1 class="post-title md:text-3xl text-xl">
        <AppLink href={post.url}>{post.frontmatter.title}</AppLink>
      </h1>
      <div class="post-attr font-bold">
        {config.author} / {post.frontmatter.date}
      </div>
      <p class="post-desc leading-loose md:text-xl text-lg">
        {truncate(post.frontmatter.description, truncateOptions)}
      </p>
    </div>
  ))}
</FrontPageLayout>
